# Windows - Python 3.11
# Instalar con: pip install -r requirements.txt

numpy<2
torch
stable-baselines3[extra]>=2.3,<3
gymnasium[atari,accept-rom-license]>=0.29.1,<1.1.0
ale-py==0.10.1
autorom[accept-rom-license]
opencv-python==4.8.1.78
tqdm
rich
tensorboard
